{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <a href="{{path('commande_add')}}">Ajouter une commande</a>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>ID commande</th>
            <th>ID membre</th>
            <th>Montant</th>
            <th>Date d'enregistrement</th>
            <th>Etat</th>
          </thead>
          <tbody>
            {% for cmd in commandes %}
            <tr>
              <td><input type="checkbox" class="checkthis" /></td>
              <td>{{ cmd.idCommande }}</td>
              <td>{{ cmd.idMembre }}</td>
              <td>{{ cmd.montant }}</td>
              <td>{{ cmd.dateEnregistrement|date('Y-m-d') }}</td>
              <td>{{ cmd.etat }}</td>
              <td><a href="{{ path('commande_update', {'id': cmd.idCommande})}}" target="_blank"><i class="far fa-edit"></i></a></td>
              <td><a href="{{ path('commande_delete', {'id': cmd.idCommande})}}" target="_blank"><i class="far fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
          {% endfor %}

        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}