{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
    <a href="{{path('membre_add')}}">Ajouter un utilisateur</a>
			<div class="table-responsive">
				<table id="mytable" class="table table-bordred table-striped">
					<thead>
						<th><input type="checkbox" id="checkall" /></th>
						<th>Id du membre</th>
						<th>Prénom - Nom</th>
						<th>Email</th>
						<th>Adresse</th>
						<th>Statut</th>
						<th colspan="3">Actions</th>
					</thead>
					<tbody>
						{% for mb in membres %}
						<tr>
							<td><input type="checkbox" class="checkthis" /></td>
							<td>{{ mb.idMembre }}</td>
							<td>{{ mb.prenom }} {{ mb.nom }}</td>
							<td>{{ mb.email }}</td>
							<td>{{ mb.adresse }}</br>{{ mb.codePostal }} {{ mb.ville }}</td>
							<td>{{ mb.statut }}</td>
							{% if mb.statut == 1%}
							<td style="color:red">ADMIN</td>
							{% else %}
							<td style="color:green">CLIENT</td>
							{% endif %}
							<td><a href="{{ path('membre_profil', {'id': mb.idMembre})}}" target="_blank"><i class="far fa-eye"></i></a></td>
              <td><a href="{{ path('membre_update', {'id': mb.idMembre})}}" target="_blank"><i class="far fa-edit"></i></a></td>
              <td><a href="{{ path('membre_delete', {'id': mb.idMembre})}}" target="_blank"><i class="far fa-trash-alt"></i></a></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"
					 aria-hidden="true"></span></button>
				<h4 class="modal-title custom_align" id="Heading">Supprimer cet utilisateur</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Etes vous sur de vouloir supprimer cet utilisateur ?</div>
			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Oui</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Non</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

{% endblock %}