{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
    <a href="{{path('produit_add')}}">Ajouter un article</a>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>Photo</th>
            <th>ID produit</th>
            <th>Référence</th>
            <th>Catégorie</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Couleur</th>
            <th>Taille</th>
            <th>Public</th>
            <th>Prix</th>
            <th>Stock</th>
            <th colspan="3">Actions</th>
          </thead>
          <tbody>
            {% for pdt in produits %}
            <tr>
              <td><input type="checkbox" class="checkthis" /></td>
              <td><img class="card-img-top" src={{ asset('/photo/' ~ pdt.photo) }} alt="" height="80px"></td>
              <td>{{ pdt.idProduit }}</td>
              <td>{{ pdt.reference }}</td>
              <td>{{ pdt.categorie }}</td>
              <td>{{ pdt.titre }}</td>
              <td>{{ pdt.description }}</td>
              <td>{{ pdt.couleur }}</td>
              <td>{{ pdt.taille }}</td>
              <td>{{ pdt.public }}</td>
              <td>{{ pdt.prix }} €</td>
              <td>{{ pdt.stock }}</td>
              <td><a href="{{ path('produit', {'id': pdt.idProduit})}}" target="_blank"><i class="far fa-eye"></i></a></td>
              <td><a href="{{ path('produit_update', {'id': pdt.idProduit})}}" target="_blank"><i class="far fa-edit"></i></a></td>
              <td><a href="{{ path('produit_delete', {'id': pdt.idProduit})}}" target="_blank"><i class="far fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}