<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ma Boutique - {% block title %}{% endblock %}</title>
  <!-- Bootstrap Core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
</head>

<body>
  <!-- Navigation -->
  {# <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <!-- La marque -->
      <a class="navbar-brand" href="{{ path('accueil') }}">MA BOUTIQUE</a>

      <!-- Le burger -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Le menu -->
      <div class="collapse navbar-collapse" id="nav1">
        <ul class="navbar-nav ml-auto">
          <li><a class="nav-link" href="">Boutique</a></li>
          <li><a class="nav-link" href="{{ path('produit_show') }}">Produit</a></li>
          <li><a class="nav-link" href="{{ path('membre_show') }}">Membre</a></li>
          <li><a class="nav-link" href="{{ path('commande_show') }}">Commande</a></li>
          <li><a class="nav-link" href="">Profil</a></li>
          <li><a class="nav-link" href="">Deconnexion</a></li>
          <li><a class="nav-link" href="">Connexion</a></li>
          <li><a class="nav-link" href="">Inscription</a></li>
        </ul>
      </div>
    </div>
  </nav> #}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- La marque -->
        <a class="navbar-brand" href="{{ path('accueil') }}">MA BOUTIQUE</a>
      </div>
      <!-- Le menu -->
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" href="{{ path('produit_show') }}">Produit</a></li>
        <li><a class="nav-link" href="{{ path('membre_show') }}">Membre</a></li>
        <li><a class="nav-link" href="{{ path('commande_show') }}">Commande</a></li>
        <li><a class="nav-link" href="">Profil</a></li>
        <li><a class="nav-link" href="">Deconnexion</a></li>
        <li><a class="nav-link" href="">Connexion</a></li>
        <li><a class="nav-link" href="">Inscription</a></li>
      </ul>
    </div>
  </nav>
  <!-- Page Content -->
  <div class="container" style="min-height: 80vh;">
    <div class="row">
      <div class="col-12">
        <!-- ici le contenu spécifique de chaque page -->

        {% block content %}
        {% endblock %}

      </div><!-- .col-12  -->
    </div><!-- .row -->
  </div><!-- .container -->
  <!-- footer -->
  <div class="container">
    <hr>
    <footer>
      <div class="row text-center">
        <div class="col">
          <p>Copyright &copy; Ma Boutique - 2018</p>
        </div>
      </div>
    </footer>

  </div><!-- .container -->
</body>

</html>