{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="mt-4">{{ title }}</h1>
<div class="row">
  <div class="col-md-3">
    <a href="{{ path('accueil') }}" class="list-group-item">Tous</a>
    {% for ref in references %}
    <a href="{{ path('categorie', {'categorie' : ref.reference}) }}" class="list-group-item list-group-item-action">{{ ref.reference | capitalize }}</a>
    {% endfor %}
  </div>
  <div class="col-md-9">
    <div class="row">
      {% for ref in references %}
      <div class="col-sm-4 mb-4">
        <div class="thumbnail">
          <a href="{{ path('produit', {'id' : ref.idProduit}) }}">
            <img src={{ asset('/photo/' ~ ref.photo) }} alt="" class="card-img-top">
          </a>
          <div class="card-body">
            <h4>{{ ref.titre }}</h4>
            <h5>{{ ref.prix | number_format(2, ',', '')}}€</h5>
            <p>{{ ref.description }}</p>
            <a href="{{ path('produit', {'id' : ref.idProduit}) }}" class="btn btn-outline-primary">Voir le produit</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div><!-- .row -->
{% endblock %}