{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="mt-4">{{ title }}</h1>
<div class="row">
  <div class="col-md-3">
    <a href="{{ path('accueil') }}" class="list-group-item">Tous</a>
    {% for pdt in categorie %}
    <a href="{{ path('categorie', {'categorie' : pdt.categorie}) }}" class="list-group-item list-group-item-action">{{
      pdt.categorie | capitalize }}</a>
    {% endfor %}
  </div>
  <div class="col-md-9">
    <div class="row">      
    {% for pdt in produits %}
    <div class="col-sm-4 mb-4">
      <div class="thumbnail">
        <a href="{{ path('produit', {'id' : pdt.idProduit}) }}">
          <img src={{ asset('/photo/' ~ pdt.photo) }} alt="" class="card-img-top">
        </a>
        <div class="card-body">
          <h4>{{ pdt.titre }}</h4>
          <h5>{{ pdt.prix | number_format(2, ',', '')}}€</h5>
          <p>{{ pdt.description }}</p>
          <a href="{{ path('produit', {'id' : pdt.idProduit}) }}" class="btn btn-outline-primary">Voir le produit</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div><!-- .row -->
{% endblock %}