{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8 col-md-6">
    <div class="thumbnail">
      <img class="card-img-top" src={{ asset('/photo/' ~ produits.photo) }} alt="">
      <div class="caption">
        <h3>{{ produits.description }}</h3>
        <p>Catégorie : {{ produits.categorie }}</p>
        <p>Couleur : {{ produits.couleur }}</p>
        <p>Taille : {{ produits.taille }}</p>
        <h4>{{ produits.prix | number_format(2, ',', '')}}€</h4>
        {% if produits.stock > 0 %}
          <input type="hidden" name="id_produit" value="">
          <select name="quantite" class="custom-select col-sm-12">
          {% for i in 1..5 if i <= produits.stock %} <option>{{ i }}</option>{% endfor %}
          </select>
          <input type="submit" name="ajout_panier" value="ajouter au panier" class="btn btn-warning col-sm-12"></br>
          {% else %}
          <strong>Produit en rupture de stock !</strong>
        {% endif %}
          <p>Nombre de produit(s) disponible(s) : {{ produits.stock }}</p>
          <p>
            <a href="{{ path('categorie', {'categorie' : produits.categorie}) }}" class="btn btn-primary" role="button">Retour
              vers la catégorie</a>
            <a href="{{ path('accueil') }}" class="btn btn-default" role="button">Retour vers tout les articles</a>
          </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}